body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h1{
    color: navy;
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 1.6;
}

.hobbies-label{
    margin-top: 30px;
    color: red;
}

.hobbies-list li{
    color: green;
    margin-bottom: 8px ;
}

.links a{
    color: teal;
    text-decoration: none;
    margin-right: 10px;
}

a:hover{
    text-decoration: underline;
}

.links{
    display: flex;
    gap : 15px;
    align-items: center;
}

.container{
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}